@inherits LayoutComponentBase
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Spinner

<div class="page">
    <div class="sidebar" style="z-index:200;">
        <NavMenu />
    </div>

    <main>
        <SfButton id="button" @onclick="@ClickHandler" style="z-index:201;">Show Spinner</SfButton>
        <div class="top-row px-4 appbar" style="z-index:200;">
        </div>
        <div id="container" style="z-index:100;">
            <SfSpinner @bind-Visible="@VisibleProperty" CssClass="e-spin-overlay" Size="100" Label="Wait please..." Type="SpinnerType.Tailwind" />
        </div>
        <article class="content px-4" style="z-index:1;">
            @Body
        </article>
    </main>
</div>

<style>
    #container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    #button {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    e-spinner {
        color: wheat;
    }

    .e-spinner-pane.e-spin-overlay {
        background-color: rgb(150, 0, 155, 1);
    }
</style>

@code {
    private bool VisibleProperty { get; set; } = false;

    private async Task ClickHandler()
    {
        this.VisibleProperty = true;
        await Task.Delay(3000);
        this.VisibleProperty = false;
    }
}
